
td.affiche{
    text-align: center;
    width: 100px;
    border: 2px solid rgb(0, 0, 0);

}
td.vide{
    width: 100px;
    border: 2px solid rgb(0, 0, 0);

}
.bouton{
    width: 100px;
    height: 100px;
    background-color: #000000;
    color: #ffffff;
    text-align: center;
    
}
body {
    background-color: black; /* Le fond de la page sera noir */
    color: white; /* Le texte de la page sera blanc */
}
