#container,body {
    position: absolute center;
}

button #btn_yes{
    position: absolute left;
}

button #btn_no{
    position: absolute right;
}

.repondre {
    height: 1em;
    width: 1em;
    background-color: darkgray;
}
